
{% block content %}
    <h2>Sub Sections, Roll Numbers, and Time Table</h2>
    <table>
        <tr>
            <th>Sub Section Name</th>
            <th>Roll Number</th>
            <th>Class Name</th>
            <th>Day</th>
            <th>Time</th>
        </tr>
        {% for time_table in time_tables %}
        <tr>
            <td>{{ time_table.roll_number.sub_section.sub_section_name }}</td>
            <td>{{ time_table.roll_number }}</td>
            <td>{{ time_table.class_name }}</td>
            <td>{{ time_table.day }}</td>
            <td>{{ time_table.time }}</td>
            <td>{{username}}</td>
        </tr>
        {% endfor %}
        {{username}}
    </table>
{% endblock %}